<%= simple_form_for @recipe, html: { multipart: true } do |f| %>
  <% if @recipe.errors.any? %>
    <div>
      <p>
        <%= @recipe.errors.count %>
        Prevented this recipe froms saving
      </p>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.input :name, input_html: { class: 'form-control' }%>
    <%= f.input :description,input_html: { class: 'form-control' } %>
    <%= f.input :image %>
    <div class="row">
      <div class="col-md-6">
        <h3>Ingredients</h3>
        <div>
          <%= f.simple_fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
          <% end %>
          <div>
            <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default add-button" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Instructions</h3>
        <div>
          <%= f.simple_fields_for :instructions do |instruction| %>
            <%= render 'instruction_fields', f: instruction %>
          <% end %>
          <div>
            <%= link_to_add_association 'Add Step', f, :instructions, class: "btn btn-default add-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
